In [8]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *
import sys
from pyspark.sql import Catalog

In [2]:
spark = SparkSession \
    .builder \
    .appName("Car Sales Report") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkSessionCatalog")\
    .config("spark.sql.catalog.spark_catalog.type", "hive")\
    .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")\
    .config("spark.yarn.access.hadoopFileSystems", "s3a://go01-demo/")\
    .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog")\
    .config("spark.sql.catalog.local.type","hadoop")\
    .getOrCreate()

Setting spark.hadoop.yarn.resourcemanager.principal to pauldefusco

In [3]:
data_lake_name = "s3a://go01-demo/"
s3BucketName = "s3a://go01-demo/cde-workshop/cardata-csv/"
# Your Username Here:
username = "test_user_112222_7"

In [17]:
spark.catalog.currentDatabase()

'test_user_112222_7_car_data'

In [20]:
spark.catalog.listTables('default')

[Table(name='t', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='s', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='lc_smote_subset', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='driver_stats', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='table1', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='ttable2', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='employee_ofer', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='tax_auth_heb', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='results_anomaly', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='mytable', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='transactions', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='customer_temp', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='ms_churn_prototype', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='customers', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='table2', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='numbers', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='a', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='tax_auth_heb_line', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='syslog', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='wc_matches', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='transactions_data_2', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='customers_2', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='fraudulent_txn_2', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='telco_churn', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='a_demo_table', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='anomaly_detection', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='lc_smote_k_3', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='b', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='churn_prototype_atlas', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='hurricane', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='hurricane3', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='churn_prototype', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='churn_prototype_username', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='total_airtime_ext', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='international_results_skip', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='fraudulent_txn', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='cc_info_table', database='default', description='Credit Card Info', tableType='EXTERNAL', isTemporary=False),
 Table(name='transactions_data', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='a1', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='b1', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='customerdata', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='hurricane2', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='people', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='lc_predictions', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='profile_1670606388', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='erik_test', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='01_customer_data', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='fraud_trans', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='customerdata_temp', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='airlines_csv1flights_csv', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='lin1', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='pk_inline', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='lin2', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='batch_load_table', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='transactions2', database='default', description=None, tableType=None, isTemporary=False),
 Table(name='emp_fname', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='emp_all', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='emp_younger', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='emp_older', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='member', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='validationtable', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='covid_states', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='lin3', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='pysparktab', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='flights', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='emp_lname', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='emp_age', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='emp_denom', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='emp_id', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='tb_funcionario', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='tb_orc', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='mlops_staging_table', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='wsp_flights', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='table_pessoa', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='table_idade', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='secret', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='marketing_campaign_table', database='default', description='Marketing Campaign', tableType='MANAGED', isTemporary=False),
 Table(name='million', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='adiboncdp', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='million2', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='churn_prototype_rtheron', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='historical_customers', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='lc_train', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='customerdatag', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='customerdata1g', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='lc_test', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='e2edemo', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='clickthrough', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='clickthrough_with_ts', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='clickthrough_csv_batch_20141026', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='test', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='lc_smote_all', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='paul_lc_table', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='demo', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='bank_info_table', database='default', description='Bank Info', tableType='MANAGED', isTemporary=False),
 Table(name='adibusage', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='paul_lc_model_scoring', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='wc_forecasts', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='customer_daily_profile', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='si2', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='lc_table', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='tbl_test_jr', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='customerrecords', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='ti', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='si', database='default', description=None, tableType='EXTERNAL', isTemporary=False)]

In [21]:
spark.catalog.listTables("test_user_112222_7_car_data")

[Table(name='car_sales', database='test_user_112222_7_car_data', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='car_installs', database='test_user_112222_7_car_data', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='experimental_motors', database='test_user_112222_7_car_data', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='customer_data', database='test_user_112222_7_car_data', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='geo_data_xref', database='test_user_112222_7_car_data', description=None, tableType='EXTERNAL', isTemporary=False)]

In [25]:
#---------------------------------------------------
#               LOAD ICEBERG TABLES AS DATAFRAMES
#---------------------------------------------------

car_sales_df = spark.sql("SELECT * FROM spark_catalog.{}_CAR_DATA.CAR_SALES".format(username))
customer_data_df = spark.sql("SELECT * FROM spark_catalog.{}_CAR_DATA.CUSTOMER_DATA".format(username))

In [26]:
car_sales_df.show()

+-----------+-------+---------+------------+----+---+-----+
|customer_id|  model|saleprice|         VIN|year|day|month|
+-----------+-------+---------+------------+----+---+-----+
|        757|Model D| 86816.33|FRAWJ3W1V7VD|2020|  1|    5|
|       3440|Model R|104767.17|98ARQ2NYWFTU|2020|  1|    5|
|       6835|Model R|103947.16|2DJE665WEAR0|2020|  1|    5|
|       7987|Model C| 76069.49|O6ZF8J9BK68E|2020|  1|    5|
|       6841|Model R|107196.14|VPA418HA97H4|2020|  1|    5|
|       3124|Model C| 76169.67|MWF83R4HEMP7|2020|  1|    5|
|       7130|Model C| 69538.07|8MY2WYOF0BRW|2020|  1|    5|
|       9337|Model C| 65121.16|QO02D43Q3H7A|2020|  1|    5|
|       2132|Model R|100351.17|KJSAII9JSE5U|2020|  1|    5|
|       3704|Model R|114747.34|JUM025D8Y75H|2020|  1|    5|
|       8369|Model C| 75296.86|N66WIFFGTIGY|2020|  1|    5|
|       5269|Model C| 70467.71|XTIFDI9HPQG7|2020|  1|    5|
|       4784|Model D| 91009.55|NLT0YN474WGU|2020|  1|    5|
|       5935|Model C| 77921.76|3PFV4R55SIHF|2020|  1|    5|
|       2392|Model C| 81494.24|6ICPPVV69Q6U|2020|  1|    5|
|       9601|Model C| 80621.08|Y66XZP9V8W3Q|2020|  1|    5|
|       3287|Model R| 93236.14|Z5EJBR4QLBCZ|2020|  1|    5|
|       2995|Model R|113715.66|HS143Q1LGHON|2020|  1|    5|
|       7883|Model R|105956.16|5D03SONMC5JC|2020|  1|    5|
|       4168|Model R|116372.09|X1M3YMZWNO45|2020|  1|    5|
+-----------+-------+---------+------------+----+---+-----+
only showing top 20 rows

In [15]:
spark.sql("SHOW CURRENT NAMESPACE").show()

+-------------+---------+
|      catalog|namespace|
+-------------+---------+
|spark_catalog|  default|
+-------------+---------+

In [16]:
spark.sql("USE spark_catalog.{}_CAR_DATA".format(username))

Hive Session ID = b9d47c43-f1ef-42ae-be99-c27c1117b893

DataFrame[]

In [18]:
spark.sql("SHOW CURRENT NAMESPACE").show()

+-------------+--------------------+
|      catalog|           namespace|
+-------------+--------------------+
|spark_catalog|test_user_112222_...|
+-------------+--------------------+

In [10]:
#spark.sql("SELECT * FROM spark_catalog.{}_CAR_DATA.CAR_SALES.history".format(username)).show()

In [11]:
# ICEBERG TABLE HISTORY (SHOWS EACH SNAPSHOT AND TIMESTAMP)
print("SHOW ICEBERG TABLE HISTORY")
print("SELECT * FROM spark_catalog.{}_CAR_DATA.CAR_SALES.history;".format(username))
#spark.sql("SELECT * FROM CAR_SALES.partitions;".format(username)).show()

SHOW ICEBERG TABLE HISTORY
SELECT * FROM spark_catalog.test_user_112222_7_CAR_DATA.CAR_SALES.history;

In [27]:
spark.sql("SELECT * FROM spark_catalog.test_user_112222_7_car_data.car_sales.history;")

AnalysisException: spark_catalog requires a single-part namespace, but got [test_user_112222_7_car_data, car_sales]